<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>No Rest for the Wicked</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
    <script src="https://vuejs.org/js/vue.js"></script> 

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <style>
.container {
  margin-top:2em;
}
h1 {
  margin
}
</style>
  </head>

  <body>

    <div id="vue" class="container">
      <h1>Vue Playground</h1>
      <div v-for="text in list_of_guesses">
	<div v-if="text != 'hello'"class="alert alert-danger">Your guess {{ text }} was wrong!</div>
	<div v-if="text == 'hello'"class="alert alert-success">Your  guess {{text}} was right!</div>
      </div>
      <pre id="data">
{{ list_of_guesses }}
      </pre>
      <input class="form-control" type="text" id="api_url" v-model="guesses"></input>
    </div>
    <script>
var vm = new Vue({
  el: "#vue",
  data: {
    guesses: window.localStorage.getItem("guesses") || "",
  },
  watch: {
    guesses() {
      window.localStorage.setItem("guesses", this.guesses)
    }
  },
  computed: {
    list_of_guesses () {
      return (this.guesses + ", hello_world").split(", ")
    }
  }
})
    </script>
  </body>
</html>

